@use './mixins.scss';
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100..900&family=Manrope:wght@200..800&display=swap');
/* typographic classes */

.font-manrope {
    font-family: 'Manrope', sans-serif !important;
}

.font-jost {
    font-family: 'Jost', sans-serif !important;
}

.font-medium {
    font-weight: 500 !important;
}

// typographic grid

.ty-body-1,
body {
    /* 16px */
    font-size: 1rem;
    /* regular */
    font-weight: 400;
    line-height: 150%;
    @include mixins.mobile {
        // 14px
        font-size: 0.875rem;
    }
}

.ty-heading-1 {
    /* 32px */
    font-size: 2rem;
    /*meidum*/
    font-weight: 500;
    line-height: 1;
}

.ty-heading-2 {
    /* 30px */
    font-size: 1.875rem;
    /*medium*/
    font-weight: 500;
    line-height: 1.2;
    @include mixins.mobile {
        // 24px
        font-size: 1.5rem;
    }
}

.ty-heading-3 {
    /* 26px */
    font-size: 1.625rem;
    /*medium*/
    font-weight: 500;
    line-height: 120%;
}

.ty-heading-4 {
    /* 24px */
    font-size: 1.5rem;
    /*medium*/
    font-weight: 500;
    line-height: 120%;
    @include mixins.mobile {
        // 20px
        font-size: 1.25rem;
    }
}

.ty-heading-5 {
    /* 20px */
    font-size: 25rem;
    /*medium*/
    font-weight: 500;
    line-height: 120%;
    @include mixins.mobile {
        // 18px
        font-size: 1.125rem;
    }
}

.ty-heading-6 {
    /* 18px */
    font-size: 1.125rem;
    /*medium*/
    font-weight: 500;
    line-height: 120%;
    @include mixins.mobile {
        // 16px
        font-size: 1rem;
    }
}

.ty-hero-title-1 {
    font-family: 'Jost', sans-serif;
    /* 96px */
    font-size: 6rem;
    /* bold */
    font-weight: 700;
    line-height: 100%;
    letter-spacing: -0.04em;
    user-select: none;
    text-wrap: nowrap;

    @include mixins.mobile {
        // 64px
        font-size: 4rem;
    }
}

.ty-hero-subtitle-1 {
    font-family: 'Jost', sans-serif;
    /* 40px */
    font-size: 2.5rem;
    /* medium */
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.02em;
    @include mixins.mobile {
        // 32px
        font-size: 2rem;
    }
}

.ty-book-title-1 {
    /* 32px */
    font-size: 2rem;
    /* medium */
    font-weight: 500;
    line-height: 120%;
}

.ty-btn-text-l {
    /* 18px */
    font-size: 1.125rem;
    /* bold */
    font-weight: 700;
    line-height: 120%;
    text-wrap: nowrap;
    user-select: none;
}

.ty-btn-text {
    /* 16px */
    font-size: 1rem;
    /* regular */
    font-weight: 400;
    line-height: 120%;
    text-wrap: nowrap;
    user-select: none;
}

.ty-btn-text-sm {
    /* 16px */
    font-size: 0.875rem;
    /* regular */
    font-weight: 400;
    line-height: 120%;
    text-wrap: nowrap;
    user-select: none;
}

.ty-caption {
    /* 14px */
    font-size: 875rem;
    /* regular */
    font-weight: 400;
    line-height: 150%;
}
