.dropdown-button {
    position: relative;
    display: inline-block;

    &__menu {
        background: var(--gray-bg);
        border: 1px solid var(--light-border);
        border-radius: 4px;
        box-shadow:
            0 4px 6px -1px rgba(0, 0, 0, 0.1),
            0 2px 4px -1px rgba(0, 0, 0, 0.1);
        max-height: 300px;
        overflow-y: auto;
    }

    &__activator {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        gap: 4px;

        &--disabled {
            color: var(--caption-text);
        }
    }

    &__divider {
        height: 1px;
        border-color: var(--light-border);
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 12px;
        cursor: pointer;
        user-select: none;

        &--selected {
            background-color: var(--gray-bg--hover);
            font-weight: 500;
        }
    }
}
